body
{
    width: 400px;
}

.error
{
    color:Red;
}

ul li
{
    padding: 6px 2px 6px 16px;
    border-bottom: 1px solid #ddd;
}

ul
{
   list-style-type: none;
}

.addMe
{
    padding: 8px 16px;
    border: 1px solid #ccc;
    margin-left: 55px;
}

span
{
    padding: 6px 2px 6px 16px;
    float: right;
    cursor: pointer;
    margin-right: 16px;
   
   
}

.btn
{
    color: #FFFFFF;
    background-color: cornflowerblue;
    padding: 8px 16px!important;
}